<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: false %>
  </div>

    <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: false %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: false %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: false %>
  </div>

  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode, autofocus: false %>
  </div>

  <div class="field">
     <%= f.check_box :is_vendor, {}, true, id: 'check' %> <%= f.label :is_vendor, "Sign up as a Brewer?" %>
  </div>

  <div class="field">
    Company Name:<br>
    <input type="text" name="company_name"><br>
  </div>

  <div class="field">
    Company Description:<br>
    <input type="text" name="company_description"><br>
  </div>


  <div class="field">
    Company Address:<br>
    <input type="text" name="company_address"><br>
  </div>

  <div class="field">
    Company State:<br>
    <input type="text" name="company_state"><br>
  </div>

  <div class="field">
    Company Postcode:<br>
    <input type="text" name="company_postcode"><br>
  </div>

  <br />
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
