  <nav style="background: white; " class="navbar navbar-expand-lg navbar-light justify-content-between">
    <ul id="force-width" class="navbar-nav" >
      <li class="nav-item p-2">
      <%= link_to root_path, class: 'navbar-brand', id: 'force-align' do %>
        <img style="width: 50%;" src="https://i.imgur.com/BLDlEIv.jpg">
      <% end %>
      </li>
    </ul>

    <ul id="force-width" class="navbar-nav">
      <li class="nav-item p-2">
      <%= form_tag(products_path, method: :get, class: 'mx-2 my-auto d-flex flex-row w-100 align-middle') do %>
      <%= text_field_tag :product, '', class: 'mx-2 my-auto d-flex flex-row w-100 align-middle' %>
      <%= button_tag(type: "submit", style: 'background: none; border: 0;', class: 'nav-link align-middle') do %>
             <i id="big-icon" class="fas fa-search"></i>
      <% end %>
      <% end %>
      </form>
      </form>
      </li>
    </ul>
    
    <ul id="force-width" class="navbar-nav">
      </li>
        <li class="nav-item p-2 dropdown">
          <a style="padding: 0;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div id="force-align">
              <i id="big-icon" class="fas fa-user"></i>
              <p id="remove-bottom-margin">Guest</p>
          </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Sign In', new_user_session_path, class: 'dropdown-item' %>
            <%= link_to 'Create Account', new_user_registration_path, class: 'dropdown-item' %>
          </div>

        </li>


      </ul>
  </nav>