  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <%= link_to root_path, style: 'navbar-brand' do %>
      <h2><strong>Frothies</strong></h2>
    <% end %>
    <ul id="force-width" class="navbar-nav ml-auto d-flex flex-row">

        <li class="nav-item p-2">
          <%= link_to new_user_session_path, style: 'nav-link', id: 'force-align' do %>
            <i id="big-icon" class="fas fa-search"></i>
            <p id="remove-bottom-margin">Search</p> 
          <% end %>
        </li>

        <li class="nav-item p-2">
          <%= link_to new_user_session_path, style: 'nav-link', id: 'force-align' do %>
              <i id="big-icon" class="fas fa-user"></i>
                <% if current_user == nil %>
                  <p id="remove-bottom-margin">Guest (Sign In)</p>
                <% else %>
                  <p id="remove-bottom-margin"><%= current_user.first_name %></p>
                <% end %>
          <% end %>
        </li>

        <li class="nav-item p-2">
          <%= link_to order_items_path, method: 'get', style: 'nav-link', id: 'force-align' do %>
              <i style="color: black;" id="big-icon" class="fas fa-shopping-cart"></i>
              <p id="remove-bottom-margin">
                Cart (<%= count_items_in_cart %>)
              </p> 
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item p-2">
          <%= link_to destroy_user_session_path, method: 'delete', style: 'nav-link', id: 'force-align' do %>
            <i id="big-icon" class="fas fa-sign-out-alt"></i>
            <p id="remove-bottom-margin">Sign Out</p>
        <% end %>
        </li>
        <% end %>
      </ul>

  </nav>