<%= form_tag charges_path do %>
<% gst = @total_price / 10 %>
<% order_total_integer =  (@total_price * 100 + gst) %>
<%= hidden_field_tag :total_price , order_total_integer.to_i %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Purchase Order"
          data-amount="<%= order_total_integer %>"
          data-locale="auto"
          data-currency="aud"></script>
  <script>
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
  </script>
    <button type="submit" style="color: white;" class="checkout">Purchase Here!</button>
<% end %>