
<!-- CHECK IF USER IS VENDOR -->
<% if current_user.is_vendor? == true %>

  <!-- CARD CONTAINER -->
<div style="background: none;" class="vendor-history-container d-flex flex-column text-center">

  <% @vendor_orders.each do |order| %>

    <% if @orders_belonging_to_vendor.include?(order.id) %>
    <!-- START CARD -->
    <div style="background: white; width: 90%;" class="each-order-box">

      <div style="margin: 0; border: 0;" class="order-header">
       <h4> Order ID: #<%= order.id %></h4>
      </div>

<div class="order-details text-left">

  <div class="customer-details">
      <div class="card-header">
        <%= order.user.first_name %> <%= order.user.last_name %>
      </div>

      <div class="card-header">
        <%= order.user.address %> <%= order.user.state %> <%= order.user.postcode %>
      </div>
  </div>

    <!-- LIST ITEMS IN ORDER -->
    <% order.order_items.each do |item| %>
      <% if item.product.vendor_id == current_user.vendor.id %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Product: <%= item.product.title %> </li>
          <li class="list-group-item">Quantity: <%= item.quantity %></li>
          <li class="list-group-item" id="last-list-group">Sale: $<%= item.product.price * item.quantity %></li>
          
        </ul>
        
        <%# <div class> %>
      <% end %>
    <% end %>

    </div>
    <% end %> 
    </>

  <% end%>
</div>

<% else %>

<div style="background: none;" class="order-history-container">
  <% @orders.each do |order| %>
    <div style="background: white;" class="each-order-box">
    <div style="margin: 0; border: 0;" class="order-header"><h4 >Order ID: #<%= order.id %></h4></div>
    <br>
    <div class="order-details">
    <% @orders_belonging_to_user = order.order_items.where(user_id: current_user.id) %>
    <% @orders_belonging_to_user.each do |orders| %>
      <p><strong>Product: </strong><%= orders.product.title %> - <strong> Quantity: </strong> <%= orders.quantity %></p>
    <% end %>
    <hr>
    <div class="price-bold">
    <p><strong>Total Price:</strong> $<%= order.total_price %> AUD</p>
    </div>
    </div>

  </div>
   <% end %>

<% end %>