
<!-- CHECK IF USER IS VENDOR -->
<% if current_user.is_vendor? == true %>

  <!-- ORDERS HEADER -->
  <div class="d-flex bg-danger text-white align-center justify-content-center vh-10"><h3 id="remove-bottom-margin">Sales</h3></div>
  <div class="d-flex align-center justify-content-between vh-10">
    <div class="sales-col p-20">Total Items Sold: </div>
    <div class="sales-col p-20">Sales Total: </div>
    <div class="sales-col p-20"></div>
  </div>

  <!-- CARD CONTAINER -->
<div class="order-history-container">
  <% @vendor_orders.each do |order| %>

    <% if @orders_belonging_to_vendor.include?(order.id) %>
    <!-- START CARD -->
    <div class="each-order-box">

      <div class="order-header">
       <h4> Order ID: #<%= order.id %></h4>
      </div>


<div class="order-details">

  <div class="customer-details">
      <div class="card-header">
        <%= order.user.first_name %> <%= order.user.last_name %>
      </div>

      <div class="card-header">
        <%= order.user.address %> <%= order.user.state %> <%= order.user.postcode %>
      </div>
  </div>

    <!-- LIST ITEMS IN ORDER -->
    <% order.order_items.each do |item| %>
      <% if item.product.vendor_id == current_user.vendor.id %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Product: <%= item.product.title %> </li>
          <li class="list-group-item">Quantity: <%= item.quantity %></li>
          <li class="list-group-item" id="last-list-group">Sale: <%= item.product.price * item.quantity %></li>
          
        </ul>
        
        <%# <div class> %>
      <% end %>
    <% end %>

    </div>
    <% end %> 
    </div>

  <% end%>
</div>

<% else %>

<div class="order-history-container">
  <% @orders.each do |order| %>
    <div class="each-order-box">
    <div class="order-header"><h4 >Order ID: #<%= order.id %></h4></div>
    <br>
    <div class="order-details">
    <% @orders_belonging_to_user = order.order_items.where(user_id: current_user.id) %>
    <% @orders_belonging_to_user.each do |orders| %>
      <p><strong>Product: </strong><%= orders.product.title %> - <strong> Quantity: </strong> <%= orders.quantity %></p>
    <% end %>
    <hr>
    <div class="price-bold">
    <p><strong>Total Price:</strong> $<%= order.total_price %> AUD</p>
    </div>
    </div>

  </div>
   <% end %>

<% end %>