<h1><%= @vendor.company_name %></h1>

<p>ADDRESS: <br><br>  <%= @vendor.company_address %></p>
<p>STATE: <br><br>  <%= @vendor.state %></p>
<p>POSTCODE: <br><br>  <%= @vendor.postcode %></p>

<p>ABN: <br><br>  <%= @vendor.abn %></p>

<p>ABOUT COMPANY: <br><br>  <%= @vendor.company_description %></p>