<div class="form-outer-container">
  <div class="vendor-info-container">

    <div class="vendor-info-header">
      <h1><%= @vendor.company_name %></h1>
    </div>

    <div class="vendor-info-details">
      <p>ADDRESS: <br><br> <%= @vendor.company_address %><p>
      <hr>
      <p>STATE: <br><br>  <%= @vendor.state %></p>
      <hr>
      <p>POSTCODE: <br><br>  <%= @vendor.postcode %></p>
      <hr>
      <p>ABN: <br><br>  <%= @vendor.abn %></p>
      <hr>
      <p>ABOUT COMPANY: <br><br>  <%= @vendor.company_description %></p>
    </div>
  </div>
</div>