<div class="login-outer-container">
  <div class="login-container">
    <div class="login-header">
    <h2>Log in</h2>
    </div>
    <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Your Email", class: "sign-up-form-box" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter Your Password", class: "sign-up-form-box" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "form-submit" %>
      </div>
    <% end %>
    <div class="footer-links">
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>