<h1>Shopping Cart</h1>
 
<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
 <% @order_items.each do |item| %>
    <div class="product">
    <div class="product-image">
    <%= image_tag item.product.image_url, class: 'card-img-top' if item.product.image_url.attached? %>
    </div>
    <div class="product-details">
      <div class="product-title"><%= item.product.title %></div>
      <p class="product-description"><%= item.product.description %></p>
    </div>
    <div class="product-price"><%= item.product.price * item.quantity %></div>
    <div class="product-quantity">
      <input type="number" value="<%= item.quantity %>" min="1">
    </div>
    <div class="product-removal">
        <%= link_to 'Delete', order_item_path(id: item.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn   btn-danger' %>
    </div>
    <div class="product-line-price">25.98</div>
  </div>

  <% end %>
 
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal"><%= @total_price %></div>
    </div>
    <div class="totals-item">
      <label>GST (10%)</label>
      <div class="totals-value" id="cart-tax"><%= @total_price / 10 %></div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">15.00</div>
    </div> 

    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total"><%= @total_price + (@total_price / 10) %></div>
    </div>
  </div>
       
      <button style="color: white;" class="checkout"><%= link_to 'Checkout', orders_path, method: 'post', style: 'color: white;' %></button>
 
</div>
