<div class="edit-product-outer-container">
  <div class="edit-product-container">
    <div class="new-product-header">
      <h1>Edit Beer</h1>
    </div>
    <br>

<form action="<%= product_path(params[:id]) %>" method="POST" >
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

    <% if @product.errors.any? %>
    <div id="error_explanation">
        <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this article from being saved:
        </h2>
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <input type="hidden" name="_method" value="patch" />

    <%= image_tag @product.image_url, id: "border-bottom", style: 'width: 100%; height: 20vw; object-fit: scale-down;' if @product.image_url.attached? %>

    <br>

    <div class="edit-beer-details">

    <div class="box-field">
    <label>Title</label>
    <input class="sign-up-form-box" type="text" name="title" value="<%= @product.title %>"/>
    <br>
    </div>
  
    <div class="box-field">
    <label>Description</label>
    <textarea id="description-box" class="sign-up-form-box" rows="4" cols="100" name="description" id="description"><%= @product.description %></textarea><br>
    </div>

    <div class="box-field">
    <label>ABV</label>
    <input class="sign-up-form-box" type="number" step="0.01" name="abv" value="<%= @product.abv %>"/>
    <br>
    </div>

    <div class="box-field">
    <label>Price</label>
    <input class="sign-up-form-box" type="number" name="price" value="<%= @product.price %>"/>
    <br>
    </div>

    <div class="box-field">
    <label>Quantity</label>
    <input class="sign-up-form-box" type="number" name="quantity" value="<%= @product.quantity %>"/>
    <br>
    <br>
    </div>
    <input class="form-submit" type="submit" value="Update" />
    </div>
</form>

</div>

</div>