
<div class="d-flex justify-content-around flex-wrap product-index">
  <% @products.each do |beer| %>

  <div class="card d-flex flex-column m-2 w-25">
    <%= image_tag beer.image_url, id: 'force-image-height', class: 'card-img-top' if beer.image_url.attached? %>

    <div class="card-body">

      <h5 class="card-title"><%= beer.title %></h5>
      <% brewer = beer.vendor.company_name %>
      <p class="card-text"><strong>Brewer:</strong> <%= link_to brewer, vendor_path(beer.vendor.id), method: :get %></p>
      <p class="card-text"><strong>Description:</strong> <%= beer.description  %></p>
      <p class="card-text"><strong>ABV: </strong><%= number_with_precision(beer.abv, :precision => 2) %></p>
      <p class="card-text"><strong>Price: </strong><%= number_to_currency(beer.price)%></p>

      <div class="d-flex justify-content-between flex-wrap buy-buttons">
        <%= link_to 'Buy Single', order_items_path(product_id: beer.id, quantity: 1, pending: true), method: :post,  class: 'btn btn-primary' %>
        <%= link_to 'Buy 6 Pack', order_items_path(product_id: beer.id, quantity: 6, pending: true), method: :post,  class: 'btn btn-primary' %>
        <%= link_to 'Buy Slab', order_items_path(product_id: beer.id, quantity: 24, pending: true), method: :post,  class: 'btn btn-primary' %>
      </div>

    </div>

  </div>

 <% end %>
</div>
