
<div class="d-flex justify-content-around flex-wrap product-index">
  <% @products.each do |beer| %>


  <div style="border-radius: 0; border: black 2px solid; padding: 10px;" class="card d-flex flex-column m-2 w-25">
    <%= image_tag beer.image_url, class: 'card-img-top', id: "border-bottom" if beer.image_url.attached? %>

    <div class="card-body">

      <h5 class="card-title d-flex flex-column"><%= beer.title %></h5>
      <% brewer = beer.vendor.company_name %>
      <p class="card-text"><span class="product-label">Brewer:</span> <%= link_to brewer, vendor_path(beer.vendor.id), method: :get %></p>
      <p class="card-text"><span class="product-label">Description:</span> <%= beer.description  %></p>
      <p class="card-text"><span class="product-label">ABV: </span><%= number_with_precision(beer.abv, :precision => 2) %></p>
      <p class="card-text"><span class="product-label">Price: </span><%= number_to_currency(beer.price)%></p>

      <% unless current_user == nil || current_user.is_vendor? %>
      <div class="d-flex justify-content-between">
        <%= link_to 'Buy Single', order_items_path(product_id: beer.id, quantity: 1, pending: true), method: :post,  class: 'btn btn-custom-green' %>
        <%= link_to 'Buy 6 Pack', order_items_path(product_id: beer.id, quantity: 6, pending: true), method: :post,  class: 'btn btn-custom-green' %>
        <%= link_to 'Buy Slab', order_items_path(product_id: beer.id, quantity: 24, pending: true), method: :post,  class: 'btn btn-custom-green' %>
      </div>
      <% end %>

      <% if current_user == nil %>
        <div class="d-flex justify-content-around w-100">
        <%= link_to 'Sign Up to Purchase', new_user_registration_path,  class: 'btn btn-custom-green', style: 'width: 100%;' %>
      </div>
      <% end %>

    </div>

  </div>

 <% end %>
</div>
