<div class="d-flex flew-row flew-wrap">
  <% @products.each do |beer| %>
  <div class="card d-flex flex-column m-2 w-25">
    <%= image_tag beer.image_url, class: 'card-img-top' if beer.image_url.attached? %>
    <div class="card-body">
      <h5 class="card-title"><%= beer.title %></h5>
      <%= beer.vendor.id %>
      <p class="card-text"><strong>Description:</strong> <%= beer.description  %></p>
      <p class="card-text"><strong>ABV:</strong> <%= beer.abv %></p>
      <p class="card-text"><strong>Price:</strong> $<%= beer.price %></p>
      <div class="d-flex flex-row justify-content-between">
      <%= link_to 'Buy Single', order_items_path(beer: beer.id, quantity: 1), method: :post,  class: 'btn btn-primary' %>
      <%= link_to 'Buy 6 Pack', order_items_path(beer: beer.id, quantity: 6), method: :post,  class: 'btn btn-primary' %>
      <%= link_to 'Buy Slab', order_items_path(beer: beer.id, quantity: 24), method: :post,  class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_product_path(id: beer.id), method: :get, class: 'btn btn-danger' %>
      <%= link_to 'Delete', product_path(id: beer.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
 <% end %>
</div>