<style>
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>

<div class="invoice-outer-container">
  <div class="invoice-container">
    <div class="invoice-header">
    <h3>Thanks for your order <%= @user.first_name =%>!</h3>
    </div>


    <div style="width: 100%;" class="row">
        <div style="padding: 0;" class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="text-xs-center"><strong>Order Invoice #<%= @order.id %></strong></h3>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <td><strong>Item Name</strong></td>
                                    <td class="text-xs-center"><strong>Item Price</strong></td>
                                    <td class="text-xs-center"><strong>Item Quantity</strong></td>
                                    <td class="text-xs-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <% @order.order_items.each do |item| %>
                                <tr>
                                    <td><%= item.product.title %></td>
                                    <td class="text-xs-center"><%= number_to_currency(item.product.price * item.quantity) %></td>
                                    <td class="text-xs-center"><%= item.quantity %></td>
                                    <td class="text-xs-right"><%= number_to_currency(item.product.price * item.quantity) %></td>
                                </tr>
                                <% end %>
                                 <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-xs-center"><strong>Subtotal</strong></td>
                                    <td class="highrow text-xs-right"><%= number_to_currency(@total_price) %></td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-xs-center"><strong>GST (10%)</strong></td>
                                    <td class="emptyrow text-xs-right"><%= number_to_currency(@total_price / 10) %></td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></i></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-xs-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-xs-right"><%= number_to_currency(@total_price + (@total_price / 10)) %></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

</div>
</div>