<!DOCTYPE html>
<html>
  <head>
    <title>Frothies</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

<body>

  <% if current_user == nil %>
      <%= render "layouts/shared/guest_navbar" %>
  <% elsif current_user.is_vendor? %>
      <%= render "layouts/shared/vendor_navbar" %>
  <% else %>
      <%= render "layouts/shared/user_navbar" %>
  <% end %>

  <div class="container-fluid">

    <% flash.each do |key, value| %>
      <% if key == 'success'  %>
        <div class="alert alert-success" role="alert">
          <%= value %>
        </div>
      <% elsif key == 'alert' %>
              <div class="alert alert-danger" role="alert">
          <%= value %>
        </div>
      <% else %>
        <div class="alert alert-primary" role="alert">
          <%= value %>
      </div>
      <% end %>
    <% end %>
    
    <%= yield %>  

  </div>
  </body>
</html>

